<div class="heading">Grimesikring</div>
<div class="sub-heading">Masse som er stoppet fra å gli</div>

<div class="flex wrap gap-8 my-4">
  <app-number-input
    title="Antall overfall"
    [(value)]="numStraps"
    [min]="0"
    [decimal]="false"
  />
  <app-number-input
    title="Friksjon μ"
    [(value)]="vars.friction"
    [min]="0"
    [max]="1"
    [step]="0.1"
  />
  <app-number-input title="LC (daN)" [(value)]="lc" [min]="0" [step]="100" />
  <app-number-input title="Vinkel α°" [(value)]="alpha" [min]="0" [max]="360" />
  <app-number-input title="Vinkel β°" [(value)]="beta" [min]="0" [max]="360" />
</div>

<app-grimesikring-weight-equation />

<div class="sub-heading">Fremover</div>

<app-grimesikring-weight-equation
  [numStraps]="numStraps"
  [friction]="vars.friction"
  [lc]="lc"
  [alpha]="alpha"
  [beta]="beta"
  [cxy]="vars.cx"
/>
