<section class="column gap-2">
  <div class="sub-heading mb-2">Variabler</div>

  <div class="flex align-items-center">
    <math>
      <mi>n</mi>
      <mo>=</mo>
      <mi>antall surringer</mi>
    </math>
  </div>

  <div class="flex align-items-center">
    <math>
      <mi>μ</mi>
      <mo>=</mo>
      <mi>friksjonsfaktor</mi>
    </math>
  </div>

  <div class="flex align-items-center">
    <math>
      <msub>
        <mi>F</mi>
        <mi>T</mi>
      </msub>
      <mo>=</mo>
      <mi>STF er forstramming i kN</mi>
    </math>
  </div>

  <div class="flex align-items-center">
    <math>
      <mi>α</mi>
      <mo>=</mo>
      <mi>vertikal vinkel på stroppene</mi>
    </math>
  </div>

  <div class="flex align-items-center">
    <math>
      <mi>m</mi>
      <mo>=</mo>
      <mi>masse last i kg</mi>
    </math>
  </div>

  <div class="flex align-items-center">
    <math>
      <mi>α</mi>
      <mo>=</mo>
      <mi>horisontal vinkel på stroppene</mi>
    </math>
  </div>

  <div class="flex align-items-center">
    <math>
      <mi>β</mi>
      <mo>=</mo>
      <mi>horisontal vinkel på stroppene</mi>
    </math>
  </div>

  <div class="flex align-items-center">
    <math>
      <msub>
        <mi>F</mi>
        <mi>R</mi>
      </msub>
      <mo>=</mo>
      <mi>LC er lastekapasiteten til surringen</mi>
    </math>
  </div>

  <div class="flex align-items-center">
    <math>
      <mi>m</mi>
      <mo>=</mo>
      <mi>maks sikret masse</mi>
    </math>
  </div>

  <div class="sub-heading mt-4 mb-2">Konstanter</div>

  <div class="flex align-items-center">
    <math>
      <msub>
        <mi>f</mi>
        <mi>s</mi>
      </msub>
      <mo>=</mo>
      <mi>
        sikkerhetsfaktor overfallsurring {{ vars.fsx }} fremover, {{ vars.fsy }}
        sideveis og bakover
      </mi>
    </math>
  </div>

  <div class="flex align-items-center">
    <math>
      <msub>
        <mi>C</mi>
        <mi>x,y</mi>
      </msub>
      <mo>=</mo>
      <mi>
        lastsikkerhetsfaktor {{ vars.cx }} fremover, {{ vars.cy }} sideveis og
        bakover
      </mi>
    </math>
  </div>

  <div class="flex align-items-center">
    <math>
      <msub>
        <mi>f</mi>
        <mi>μ</mi>
      </msub>
      <mo>=</mo>
      <mi>sikkerhetsfaktor grimesurring {{ vars.fmu }}</mi>
    </math>
  </div>

  <div class="flex align-items-center">
    <math>
      <mi>g</mi>
      <mo>=</mo>
      <mi>{{ vars.g }}</mi>
      <mfrac>
        <mrow>
          <mi>m</mi>
        </mrow>
        <mrow>
          <msup>
            <mi>s</mi>
            <mn>2</mn>
          </msup>
        </mrow>
      </mfrac>
    </math>
  </div>

  <div class="flex align-items-center">
    <math>
      <msub>
        <mi>C</mi>
        <mi>Z</mi>
      </msub>
      <mo>=</mo>
      <mi>{{ vars.cz | number: ".1" }} vertikal akselerasjons koeffisient</mi>
    </math>
  </div>
</section>
