<div class="heading">Overfallsikring</div>
<div class="sub-heading">Masse som er stoppet fra å gli</div>

<div class="flex wrap gap-8 mt-2">
  <app-number-input
    title="Antall overfall"
    [(value)]="numStraps"
    [min]="0"
    [decimal]="false"
  />
  <app-number-input
    title="Friksjon μ"
    [(value)]="friction"
    [min]="0"
    [max]="1"
    [step]="0.1"
  />
  <app-number-input title="FT (kN)" [(value)]="ft" [min]="0" />
  <app-number-input title="Vinkel°" [(value)]="alpha" [min]="0" [max]="360" />
</div>

<app-overfallsikring-weight-equation />

<div class="sub-heading">Fremover</div>

<app-overfallsikring-weight-equation
  [numStraps]="numStraps"
  [friction]="friction"
  [ft]="ft"
  [alpha]="alpha"
  [cxy]="cx"
  [fsxy]="fsx"
/>

<div class="sub-heading">Til siden og bakover</div>

<app-overfallsikring-weight-equation
  [numStraps]="numStraps"
  [friction]="friction"
  [ft]="ft"
  [alpha]="alpha"
  [cxy]="cy"
  [fsxy]="fsy"
/>
