<div class="equation">
  @if (cxy === undefined || fsxy === undefined) {
    <math>
      <mi>n</mi>
      <mo>=</mo>
      <mfrac>
        <mrow>
          <mi>m</mi>
          <mo>&middot;</mo>
          <mi>g</mi>
          <mo>&middot;</mo>
          <mo>(</mo>
          <msub>
            <mi>C</mi>
            <mi>x,y</mi>
          </msub>
          <mo>-</mo>
          <mi>μ</mi>
          <mo>&middot;</mo>
          <msub>
            <mi>C</mi>
            <mi>Z</mi>
          </msub>
          <mo>)</mo>
          <mo>&middot;</mo>
          <msub>
            <mi>f</mi>
            <mi>s</mi>
          </msub>
        </mrow>
        <mrow>
          <mn>2</mn>
          <mo>&middot;</mo>
          <mi>μ</mi>
          <mo>&middot;</mo>
          <mi>sin</mi>
          <mi>α</mi>
          <mo>&middot;</mo>
          <msub>
            <mi>F</mi>
            <mi>T</mi>
          </msub>
        </mrow>
      </mfrac>
    </math>
  } @else {
    <math>
      <mi>n</mi>
      <mo>=</mo>
      <mfrac>
        <mrow>
          <mn *ngIf="weight !== undefined; else underscore">
            {{ weight | number: ".0-3" }}
          </mn>
          <mo>&middot;</mo>
          <mn>{{ vars.g }}</mn>
          <mo>&middot;</mo>
          <mo>(</mo>
          <mn>{{ cxy }}</mn>
          <mo>-</mo>
          <mn *ngIf="friction !== undefined; else underscore">
            {{ friction }}
          </mn>
          <mo>&middot;</mo>
          <mn>{{ vars.cz }}</mn>
          <mo>)</mo>
          <mo>&middot;</mo>
          <mn>{{ fsxy }}</mn>
        </mrow>
        <mrow>
          <mn>2</mn>
          <mo>&middot;</mo>
          <mn *ngIf="friction !== undefined; else underscore">
            {{ friction }}
          </mn>
          <mo>&middot;</mo>
          <mn *ngIf="alpha !== undefined; else underscore">
            {{ alpha | number: ".0-2" }}
          </mn>
          <mo>&middot;</mo>
          <mn *ngIf="ft !== undefined; else underscore">
            {{ ft | number: ".0-3" }}
          </mn>
        </mrow>
      </mfrac>
      <mo>=</mo>
      @if (result === undefined) {
        <mi>_</mi>
      } @else if (result === null) {
        <mi>Usikret</mi>
      } @else if (result <= 0) {
        <mi>Ingen risiko</mi>
      } @else {
        <mn>{{ result }}</mn>
      }

      <mi *ngIf="percent !== undefined" class="ml-4">
        ({{ percent | number: ".0-0" }}%)
      </mi>

      <ng-template #underscore>
        <mi>_</mi>
      </ng-template>
    </math>
  }
</div>
