<div class="heading">Overfallsikring</div>
<div class="sub-heading mb-4">
  Antall surringer som skal til for å sikre last
</div>

<app-overfallsikring-straps-equation />

<div class="sub-heading">Fremover</div>

<app-overfallsikring-straps-equation
  [weight]="vars.weight"
  [friction]="vars.friction"
  [stf]="vars.stf"
  [alpha]="vars.alpha"
  [cxy]="vars.cx"
  [fsxy]="vars.fsx"
/>

<div class="sub-heading">Til siden og bakover</div>

<app-overfallsikring-straps-equation
  [weight]="vars.weight"
  [friction]="vars.friction"
  [stf]="vars.stf"
  [alpha]="vars.alpha"
  [cxy]="vars.cy"
  [fsxy]="vars.fsy"
/>
